{% extends "base.html.twig" %}

{% block title  %}IMBd | admin{% endblock %}

{% block body %}
{% include 'Admin/sidebar.html.twig' %}
    <h1 class="text-center text-light">Espace Admin</h1>


{% endblock %}