
    <aside class="d-flex flex-column">
        <a class="text-warning" href="{{ path('admin_accueil') }}">Accueil Admin</a>
        <a class="text-warning" href="{{ path('app_artiste_index') }}">Gestion des Artistes</a>
        <a class="text-warning" href="{{ path('app_film_index') }}">Gestions des films</a>
    </aside>